.main-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1db954;
	border: 0px solid transparent;
}

.main-btn:hover {
	background-color: #1ed760;
}

.margined-btn {
	margin-top: 25rem;
}

.btn-div {
	display: flex;
	justify-content: center;
}

.songs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.song {
	text-align: center;
}
