* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #62a4f6;
}

/* ------------------------ Buttons ----------------------- */
.main-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1db954;
	border: 0px solid transparent;
}

.main-btn:hover {
	background-color: #1ed760;
}

.login-btn {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 30%;
}

.intro-btn-div {
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	width: 100%;
	bottom: 30%;
}

.link-btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

/* Button Dropdowns */
.btn-drpdwns {
	display: flex;
	width: 100%;
	justify-content: center;
}

.btn-drpdwn {
	background-color: #1db954;
	border: 0px solid transparent;
}

/* --------------------------- Columns -------------------------------- */
.column-group {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: auto;
}

.col-md-4 {
	display: flex;
	justify-content: center;
	/* padding: 25px; */
}

.song-row {
	display: flex;
	width: 100%;
}

.song-row-div {
	display: flex;
	justify-content: center;
}

/* Caption Above Columns */
.col-title {
	font-size: small;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	color: #f7e96f;
}

/* ----------------------- STUFF RELATED TO SONGS ------------------------- */
.song {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 80px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 5px;
	max-height: 75px;
}

/* Song/Albumn text on images */
.song-title {
	position: absolute;
	bottom: 1px;
	left: 1.5px;
}

.name-shadow {
	position: absolute;
	bottom: .6px;
	left: 1.8px;
}

.artist-name {
	position: absolute;
	bottom: 7px;
	left: 1.5px;
}

.artist-shadow {
	position: absolute;
	bottom: 6.6px;
	left: 1.8px;
}

.number {
	position: absolute;
	top: 1.5px;
	left: 2px;
}

.number-shadow {
	position: absolute;
	top: 1.9px;
	left: 2.3px;
}

.name-shadow,
.artist-shadow,
.number-shadow {
	color: black;
	opacity: 75%;
	font-size: 5.4px;
}

.no-image {
	position: absolute;
	bottom: 44%;
	left: 34%;
}

.image {
	position: relative;
	text-align: left;
	color: white;
	font-size: 5px;
	/* text-shadow: .5px .5px .75px #000000; */
}
