* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(52, 58, 64, .85);
}

/* ------------------------ Buttons ----------------------- */
.main-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1db954;
	border: 0px solid transparent;
}

.main-btn:hover {
	background-color: #1ed760;
}

.login-btn {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 30%;
}

.intro-btn-div {
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	width: 100%;
	bottom: 30%;
}

.link-btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

/* Button Dropdowns */
.btn-drpdwns {
	display: flex;
	width: 100%;
	justify-content: center;
}

.btn-drpdwn {
	background-color: #1db954;
	border: 0px solid transparent;
}

/* --------------------------- Columns -------------------------------- */
.column-group {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: auto;
}

.col-md-4 {
	display: flex;
	justify-content: center;
	/* padding: 25px; */
}

.song-row {
	display: flex;
	width: 100%;
}

.song-row-div {
	display: flex;
	justify-content: center;
}

/* Caption Above Columns */
.col-title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
	color: rgb(208, 240, 192);
}

/* .wrapper-div {
	width: fit-content;
} */

/* ----------------------- STUFF RELATED TO SONGS ------------------------- */
.song {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 6rem;
	height: 6rem;
	margin-bottom: .5rem;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 5px;
}

/* Song/Albumn text on images */
.song-title {
	position: absolute;
	bottom: .1rem;
	left: 1.5px;
}

.name-shadow {
	position: absolute;
	bottom: .07rem;
	left: 1.8px;
}

.artist-name {
	position: absolute;
	bottom: .55rem;
	left: 1.5px;
}

.artist-shadow {
	position: absolute;
	bottom: .5rem;
	left: 1.8px;
}

.number {
	position: absolute;
	top: 1.5px;
	left: 2px;
}

.number-shadow {
	position: absolute;
	top: 1.9px;
	left: 2.3px;
}

.name-shadow,
.artist-shadow,
.number-shadow {
	color: rgb(0, 0, 0, .75);
	font-size: 1.05em;
}

.artist-shadow,
.artist-name,
.name-shadow,
.song-title {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 95%;
}

.no-image {
	position: absolute;
	bottom: 44%;
	left: 34%;
}

.image {
	position: relative;
	text-align: left;
	color: #ffffff;
	font-size: 7px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: .5px .5px .75px #000000;
	max-height: 6rem;
}

@media only screen and (min-width: 600px) {
	.col-title {
		font-size: xx-large;
	}

	.song {
		width: 10rem;
		height: 10rem;
	}

	.image {
		max-height: 10rem;
		font-size: 11px;
	}

	.artist-name {
		bottom: 1rem;
	}
}
